 <!-- ======= Footer ======= -->
 <footer id="footer">

  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-contact">
          <h5>Effective School Boards<span>.</span></h5>
          <p>
            <strong>About Coaching</strong><a href="mailto:coach@effectiveschoolboards.com?subject=Re:+ESB+Coaching"> coach at effectiveschoolboards.com</a><br>
            <strong>General Inquiries</strong><a href="mailto:info@effectiveschoolboards.com?subject=Re:+Effective+School+Boards"> info at effectiveschoolboards.com</a><br>
          </p>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>For School Systems</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="/coaches">Find A Coach</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/framework">Board Self Evaluations</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/resources">Resources</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/publications">ESB Publications</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/contact">Contact</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>For States</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="/coaches">Find A Coach</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/resources/toolkit">State ESB Toolkit</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/framework/other">State Specific Frameworks</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/contact">Contact</a></li>
          </ul>
        </div>          

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>For Coaches</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="/coaches/become">Become An ESB Coach</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/framework">ESB Framework</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/resources">Recommended Reading</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/store">ESB Store</a></li>
          </ul>
        </div>
        

      </div>
    </div>
  </div>

  <div class="container d-md-flex py-4">

    <div class="me-md-auto text-center text-md-start">
      <div class="copyright">
        &copy; Copyright <strong><span>Effective School Boards</span></strong>. All Rights Reserved
      </div>
    </div>
    <!--
    <div class="social-links text-center text-md-end pt-3 pt-md-0">
      <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
      <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
      <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
      <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
      <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
    </div>
    -->
  </div>
</footer><!-- End Footer -->
