<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center">
    <!--<h1 class="logo me-auto"><a href="index.html">Presento<span>.</span></a></h1>-->
    <!-- Uncomment below if you prefer to use an image logo -->
    <a href="/" class="logo me-auto"><img src="/assets/img/1sq-logo.png" alt=""></a>

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a class="nav-link scrollto active" href="http://www.1squint.org">Home</a></li>
        <li><a class="nav-link scrollto"  href="/about">About</a></li>
        <li><a class="nav-link scrollto"  href="/non-fiction">Non-Fiction</a></li>
        <li><a class="nav-link scrollto"  href="/fiction">Fiction</a></li>
        <!--<li><a class="nav-link scrollto" href="/contact">Contact</a></li>-->
        <!--<li><a class="nav-link scrollto" href="/blog">Blog</a></li>-->
        <!--<li><a class="nav-link scrollto" href="/login">Login</a></li>-->
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->




