<!-- START OF BASE.HTML BEFORE HEAD.HTML -->
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <file src="layout/base.html" />

<!-- END OF BASE.HTML BEFORE HEAD.HTML -->
  {%- include head.html -%}

  <body>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KRRMB7R2"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {%- include header.html -%}


      <!-- ======= Hero Section ======= -->
        <section id="hero" class="d-flex align-items-center">

          <div class="container" data-aos="zoom-out" data-aos-delay="100">
            <div class="row"><center>
              <div class="col-xl-auto">

                  {{ content }}


              </div>
            </center></div>
          </div>

        </section>
      <!-- End Hero -->


    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>What Practitioners Are Saying</h2>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <h3>Rico Munn</h3>
                  <h4>Superintendent, Aurora (Colorado) Public Schools</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Great on Their Behalf is a valuable resource for school boards who are serious about changing outcomes for kids.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <h3>Aretta L. Baldon</h3>
                  <h4>Vice Chair, Atlanta (Georgia) Public Schools Board</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Great on Their Behalf shifts you from a place of worry and despair to a place of hope, empowerment, and action.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <h3>Judith Cruz</h3>
                  <h4>Chair, Houston (Texas) ISD Board of Trustees</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    This is a must-read for any school board member. Governance focused on student outcomes will be a game-changer.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <h3>Dr. Jill A. Baker</h3>
                  <h4>Superintendent, Long Beach (California) Unified School District</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    If you believe that your students deserve for you to be great on their behalf, this is a must-read!
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <h3>Joyce Wilkerson</h3>
                  <h4>Chair, Philadelphia (Pennsylvania) School District Board</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Our pivot to student-outcomes-focused governance has been transformative. If we don't change, nothing will change for our children.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <h3>Devon L. Taliaferro</h3>
                  <h4>Vice-President, Pittsburgh (Pennsylvania) Public Schools Board</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    This book is a stepping stone for board members to lead in a way that puts student success before adult needs.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <h3>Donna Bahorich</h3>
                  <h4>Former Board Chair, Texas State Board of Education</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Anyone with a real heart to serve students well on a local school board will find this book compelling and propelling.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <h3>Heather Contreras</h3>
                  <h4>Superintendent, Pajaro Valley USD (California)</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Effective School Boards provides superintendents and their boards a practical approach to keeping students at the center of their work.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <h3>Jeri Robinson</h3>
                  <h4>School Committee Chair, Boston (Massachusetts) Public Schools</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Both sobering and enlightening, it offers practical exercises to structure your board's actions and meetings.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <h3>Rodney Jordan</h3>
                  <h4>Board Member, Norfolk (Virginia) Public Schools</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    This book provides a pathway for my own transformation so that my school board can be effective and our students successful.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section>
    <!-- End Testimonials Section -->


    {%- include footer.html -%}

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="/assets/vendor/aos/aos.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/assets/js/main.js"></script>

<!-- START OF BASE.HTML AFTER FOOTER.HTML -->
  </body>

</html>
<!-- END OF BASE.HTML AFTER FOOTER.HTML -->